/* ========== Formatações Gerais ==========*/

:root {
    --bg: #333333;
    --bg-rating: #fafafa;
    --bg-header: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    --color-text: #fff;
    --color-text-secondary: #333333;
    --primary-color: #4939FF;
    --secondary-color: #ff6b00;
    --right-color: #20E300;
    --wrong-color: #FF3737;
    --yellow-color: #FFD600;
    transition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2[class^="titulo"] {
    font-size: 25px;
    font-weight: 600;
    color: var(--primary-color);
    margin: 50px 0 20px;
}

main {
    max-width: 60%;
    margin: 70px auto 0;
}

button[id^="btn-"] {
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: var(--secondary-color);
    color: var(--color-text);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ========== Modal de Avaliação ==========*/

.titulo-modal {
    margin: 0 !important;
    width: 95%;
    text-align: center;
}

.modal-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-body #foto-perfil {
    width: 150px;
    margin: 0 0 30px;
}

.modal-body .informacoes-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-body #comentario-avaliacao {
    font-size: 14px;
    border: none;
    background-color: var(--bg-rating);
    padding: 7px 15px;
    border-radius: 10px 10px;
    margin: 30px 0 0;
    min-width: 400px;
    min-height: 150px;
}

.modal-body #comentario-avaliacao::placeholder {
    padding: 20px 30px;
    font-size: 15px;
}

.modal-body #comentario-avaliacao:focus {
    box-shadow: none;
}

.modal-body .avaliacao-usuario {
    height: auto;
    margin: 20px 0;
}

.modal-body .star-icon {
    list-style-type: none;
    cursor: pointer;
    color: #ffe500;
    font-size: 45px;
}

.modal-body .star-icon::before {
    content: "\2606";
}

.modal-body .star-icon.ativo~.star-icon::before {
    content: "\2606";
}

.modal-body .avaliacao:hover .star-icon::before {
    content: "\2605";
}

.modal-body .star-icon:hover~.star-icon::before {
    content: "\2606";
}

.modal-footer {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
}

#btn-sair-avaliacao {
    width: 80px;
    background-color: var(--primary-color);
}

#btn-enviar-avaliacao {
    width: 100px;
    background-color: var(--secondary-color);
}

#btn-enviar-avaliacao:hover {
    background-color: var(--color-text);
    color: var(--secondary-color);
}

#btn-sair-avaliacao:hover {
    background-color: var(--color-text);
    color: var(--primary-color);
}


/* ========== Cabeçalho ========== */

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 7px 100px;
    border-radius: 0 0 12px 12px;
    height: 60px;
}

.site-header a {
    text-decoration: none;
    color: var(--color-text);
    margin-left: 30px;
}

.site-header a:hover {
    color: var(--secondary-color);
}

#logo-header {
    cursor: pointer;
    width: 150px;
}


/* ========== Perfil do Usuario ========== */

#info-prestador {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}

#nome-usuario {
    margin-bottom: 0;
    color: var(--secondary-color);
    font-weight: 700;
}

.nome-avaliacao {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


/* Foto de Perfil */

#foto-perfil {
    width: 300px;
    border-radius: 100%;
    margin-right: 50px;
}


/* Avaliação */

.avaliacao-usuario,
.avaliacao {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
    padding: 0;
    height: 30px;
}

#nota {
    padding-right: 5px;
}

.ponto {
    font-size: 40px;
}

.ponto::before {
    content: "\2027";
}

.star-icon {
    list-style-type: none;
    cursor: pointer;
    color: #ffe500;
    font-size: 30px;
    /* alterar o tamanho das estrelas */
}

.star-icon::before {
    content: "\2605";
}

.star-icon.ativo~.star-icon::before {
    content: "\2606";
}

.avaliacao:hover .star-icon::before {
    content: "\2605";
}

.star-icon:hover~.star-icon::before {
    content: "\2606";
}


/* Descrição */

#descricao {
    max-width: 600px;
    margin: 20px 0;
}

.titulo-regiao-atuacao {
    font-size: 15px;
}


/* ========== Avaliações ========== */


/* Blocos */

.content-avaliacoes {
    background: var(--bg-rating);
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 20px 30px;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    transition: all .2s;
}

.content-avaliacoes:hover {
    border-bottom: 2px solid var(--secondary-color);
    transform: translateY(-7px);
}

.content-avaliacoes:hover #nome-avaliador {
    color: var(--secondary-color);
}

.nome-data {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

#nome-avaliador {
    margin: 0;
    font-weight: 600;
}

.hifen {
    padding: 0 10px;
}

#data-publicacao {
    font-style: italic;
}

#content-avaliacoes #nota {
    font-size: 13px;
}

#content-avaliacoes .star-icon {
    font-size: 20px;
}

#comentario {
    font-style: italic;
    margin: 15px 0 0;
}


/* ========== Escolher Datas Disponvíeis ========== */

.escolher-data-orcamento {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
}

.escolher-data input {
    font-size: 14px;
    border: none;
    background-color: var(--bg-rating);
    padding: 7px 15px;
    border-radius: 10px 10px;
    margin: 30px 0 0;
}

.escolher-data input:focus {
    border: none;
    box-shadow: none;
}

.escolher-data input::placeholder {
    font-size: 15px;
}


/* ========== Config geral de Orçamento e Comprovante de Pagamento ========== */

input[type="file"] {
    display: none;
}

a[id^="btn-"] {
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: var(--secondary-color);
    color: var(--color-text);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 230px;
}

a[id^="btn-"] i {
    margin-left: 10px;
}

a[id^="btn-"]:hover {
    background-color: var(--color-text);
    color: var(--secondary-color);
}

label[for^="btn-"] {
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: var(--secondary-color);
    color: var(--color-text);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label[for^="btn-"]:hover {
    background-color: var(--color-text);
    color: var(--secondary-color);
}


/* ========== Orçamento ========== */

.divOrcamento {
    margin-top: 46px;
}


/* ========== Comprovante de Pagamento ========== */

.divComprovante {
    max-width: 230px;
}


/* ========== Btn Contratar ========== */

.btn-hud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto 50px !important;
}

.btn-hud a {
    text-decoration: none;
}

.btn-aceitar-recusar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

#btn-avaliar-prestador {
    background-color: var(--yellow-color);
    width: 210px;
}

#btn-recusar-servico {
    background-color: var(--wrong-color);
    width: 180px;
}

#btn-aceitar-servico {
    background-color: var(--right-color);
    width: 180px;
}

#btn-avaliar-prestador:hover {
    background-color: var(--color-text);
    color: var(--yellow-color);
}

#btn-recusar-servico:hover {
    background-color: var(--color-text);
    color: var(--wrong-color);
}

#btn-aceitar-servico:hover {
    background-color: var(--color-text);
    color: var(--right-color);
}


/* ========== Footer ==========*/

footer .footer-container>img {
    align-self: center;
    width: 200px;
}

footer .footer-container {
    background-color: var(--primary-color);
    color: var(--color-text);
    border-radius: 0.8rem 0.8rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.footer-container p {
    text-align: center;
    padding: 15px 0 0;
    margin: 0;
}