<div class="login">
        <img src="./img/Logo.svg" alt="Logo ChamaNow" id="logo">
        <div class="textoLogin">
            <h3 class="tituloLogin">Já possui uma conta?</h3>
            <h5 class="subtitulo">Acesse sua conta agora mesmo</h5>
        </div>
        <a href="../Login/login.html" id="linkLogin"><button id="entrarLogin">Entrar</button></a>
    </div>

    <div class="dadosPessoais">
        <img src="./img/Logo.svg" alt="Logo ChamaNow" id="logoMobile">
        <h2 class="tituloDados">Criar nova conta</h2>
        <h5 class="subtituloDados"></h5>
        <div class="escolherUsuario"></div>
        <div class="dadosContent">
            <form id="formDados" class="form" accept="/add" method="post"></form>
        </div>
        <div class="btns">
            <button id="voltar"></button>
            <button id="proximo"></button>
        </div>
        <div class="loginMobile">
            Já possui uma conta? <a href="../Login/login.html" id="linkLoginMobile">Entrar</a>
        </div>
    </div>