<main>
    <div class="container">
        <section id="banner">
            <div id="texto-banner">
                <h1>Procure o melhor <strong>serviço</strong> pelo o melhor <strong>preço</strong></h1>
                <p>Pesquise um serviço</p>
            </div>
            <div id="imagem-banner">
                <img src="../assets/img/gustavo.png" alt="Foto do Embaixador">
            </div>
        </section>
        <section id="servicos">
            <div id="catalogo">
                <h3>Catálogo</h3>
                <select id="lista-servicos" name="select" placeholder="Serviços">
                    <option disabled selected>Selecione um serviço</option>
                    <option>Pintura</option>
                    <option>Reparos Hidraúlicos (Bombeiro)</option>
                    <option>Carpintaria</option>
                    <option>Alvenaria</option>
                </select>
            </div>
            <div id="principais-servicos">
                <h3>Principais Serviços</h3>
                <div class="container-servicos">
                    <div class="quadrado-wireframe"></div>
                    <div class="quadrado-wireframe"></div>
                    <div class="quadrado-wireframe"></div>
                    <div class="quadrado-wireframe"></div>
                </div>
            </div>
            <div id="bem-avaliados">
                <h3>Profissionais mais bem avaliados</h3>
                <div class="container-bem-avaliados">
                    <div class="quadrado-wireframe"></div>
                    <div class="quadrado-wireframe"></div>
                    <div class="quadrado-wireframe"></div>
                </div>
            </div>
            <div id="quem-somos">
                <h3>Quem Somos?</h3>
                <div class="quadrado-wireframe"></div>
            </div>
            <div id="container-trabalhamos">
                <div id="como-trabalhamos">
                    <h3>Como Trabalhamos</h3>
                    <div class="quadrado-wireframe"></div>
                </div>
                <div id="container-neymar">
                    <img src="../assets/img/menino-ney.png" alt="Foto Neymar">
                </div>
            </div>
            <div id="espaco-branco">
                <div class="quadrado-wireframe"></div>
            </div>
        </section>
    </div>
</main> 