<div class="menuLateral">
        <img src="./img/perfil-sem-foto.png" alt="Foto de Perfil" id="ftUser">
        <div class="userInfos">
            <h3 id="nomeUser">Nicolau Augustinho</h3>
            <div class="avaliacao-usuario">
                <span id="nota">4,5</span>
                <span class="ponto"></span>
                <ul class="avaliacao">
                    <li class="star-icon" data-avaliacao="1"></li>
                    <li class="star-icon" data-avaliacao="2"></li>
                    <li class="star-icon" data-avaliacao="3"></li>
                    <li class="star-icon" data-avaliacao="4"></li>
                    <li class="star-icon" data-avaliacao="5"></li>
                </ul>
            </div>
        </div>
        <div class="menu">
            <div class="servicoNotify">
                <button id="servicos">Serviços</button>
                <span id="notification">10</span>
            </div>
            <button id="alterarCadastro">Alterar Cadastro</button>
            <button id="avaliacoes">Avaliações</button>
            <a href="../Tela Inicial/index.html" id="linkTelaInicial"><button id="logout"><i class="fa-solid fa-chevron-left"></i> Sair</button></a>
        </div>

        <a href="../cadastro/index.html?user=profissional"><button id="cadastroPrestador">Sou um profissa <i class="fa-solid fa-chevron-right"></i></button></a>
    </div>

    <div class="content">
        <div class="tituloContent">
            <h2 class="tituloSecao"></h2>
            <p class="descricaoSecao"></p>
        </div>
        <div class="dadosMenu"></div>
</div>