/* Cabeçalho =================================================================*/

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 15%;
    height: 60px;
    background: linear-gradient( -45deg, rgba(88, 195, 255, 1) 0, rgba(0, 77, 230, 1) 40%, rgba(0, 59, 177, 1) 100%);
    width: 100%;
}

#logo {
    max-width: 150px;
}

.menu a {
    text-decoration: none;
    color: var(--color-text);
    margin-left: 30px;
    transition: var(--transition);
    box-shadow: none;
}

.menu a:hover {
    color: var(--secondary-color);
}

.menu a:nth-child(2) {
    padding: 5px 20px;
    border-radius: 7px;
    border: 1.2px var(--primary-color-bright) solid;
    transition: var(--transition);
}

.menu a:nth-child(2):hover {
    border: 1.2px var(--secondary-color) solid;
}

.menu a:last-child {
    background-color: var(--secondary-color);
    color: var(--color-text);
    padding: 5px 20px;
    border-radius: 7px;
    border: none;
}

.menu a:last-child:hover {
    background-color: var(--color-text);
    color: var(--secondary-color);
}

#perfil:hover {
    border: none;
}

#logo-header {
    cursor: pointer;
    width: 150px;
}

@media (max-width: 1000px) {
    .site-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 5%;
        height: 60px;
        width: 100%;
    }
    #logo {
        cursor: pointer;
        width: 40px;
    }
}