/* Avaliações */

.divAvaliacoes {
    background: var(--bg-rating);
    border-radius: 15px;
    padding: 20px 30px;
    margin: 0 0 30px !important;
    border: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    transition: all .2s;
}

.divAvaliacoes:hover {
    border-bottom: 2px solid var(--secondary-color);
    transform: translateY(-7px);
}

.divAvaliacoes:hover #nome-avaliador {
    color: var(--secondary-color);
}

.nome-data {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

#nome-avaliador {
    margin: 0;
    font-weight: 600;
}

.hifen {
    padding: 0 10px;
}

#data-publicacao {
    font-style: italic;
}

#content-avaliacoes #nota {
    font-size: 13px;
}

#content-avaliacoes .star-icon {
    font-size: 20px;
}

#comentario {
    font-style: italic;
    margin: 15px 0 0;
}

.dataNull {
    font-style: italic;
    text-align: center;
}


/* ========== Avaliações ========== */


/* Blocos */

.avaliacao-usuario,
.avaliacao {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 30px;
}

#nota {
    padding-right: 5px;
    margin: 0;
}

.ponto {
    font-size: 40px;
}

.ponto::before {
    content: "\2027";
}

.star-icon,
.star-icon-view {
    list-style-type: none;
    color: #ffe500;
    font-size: 30px;
}

.star-icon::before,
.star-icon-view::before {
    content: "\2605";
}

.star-icon.active~.star-icon::before,
.star-icon-view.active~.star-icon-view::before {
    content: "\2606";
}

.avaliacao:hover .star-icon::before {
    content: "\2605";
}

.star-icon:hover~.star-icon::before {
    content: "\2606";
    cursor: pointer;
}