USE [ChamaNow]
GO
/****** Object:  Table [dbo].[AGENDAMENTO]    Script Date: 27/04/2022 21:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENDAMENTO](
	[COD_AGENDAMENTO] [uniqueidentifier] NOT NULL,
	[COD_SERVICO] [uniqueidentifier] NOT NULL,
	[COD_USUARIO] [uniqueidentifier] NOT NULL,
	[COD_ENDERCO] [uniqueidentifier] NOT NULL,
	[DATA] [nchar](10) NOT NULL,
	[HORARIO] [nchar](5) NOT NULL,
 CONSTRAINT [PK_AGENDAMENTO] PRIMARY KEY CLUSTERED 
(
	[COD_AGENDAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AVALIACAO]    Script Date: 27/04/2022 21:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AVALIACAO](
	[COD_USUARIO] [uniqueidentifier] NOT NULL,
	[NOTA] [float] NULL,
	[COMENTARIO] [ntext] NULL,
	[DATA] [nchar](10) NULL,
 CONSTRAINT [PK_AVALIACAO] PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENDERECO]    Script Date: 27/04/2022 21:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENDERECO](
	[COD_ENDERECO] [uniqueidentifier] NOT NULL,
	[CEP] [nchar](9) NOT NULL,
	[NUMERO] [smallint] NOT NULL,
	[RUA] [nchar](50) NOT NULL,
	[CIDADE] [nchar](15) NOT NULL,
	[ESTADO] [nchar](2) NOT NULL,
 CONSTRAINT [PK_ENDERECO] PRIMARY KEY CLUSTERED 
(
	[COD_ENDERECO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGAMENTO]    Script Date: 27/04/2022 21:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGAMENTO](
	[COD_SERVICO] [uniqueidentifier] NOT NULL,
	[DATA] [nchar](10) NULL,
 CONSTRAINT [PK_PAGAMENTO] PRIMARY KEY CLUSTERED 
(
	[COD_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICO]    Script Date: 27/04/2022 21:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICO](
	[COD_SERVICO] [uniqueidentifier] NOT NULL,
	[COD_USUARIO] [uniqueidentifier] NOT NULL,
	[VALOR_ORCAMENTO] [money] NOT NULL,
	[NUM_COMPROVANTE] [int] NOT NULL,
	[DATA] [datetime] NOT NULL,
	[TIPO] [nchar](50) NOT NULL,
	[DESCRICAO] [ntext] NOT NULL,
	[STATUS] [nchar](20) NOT NULL,
	[ARQUIVO] [nchar](10) NULL,
 CONSTRAINT [PK_SERVICO] PRIMARY KEY CLUSTERED 
(
	[COD_SERVICO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONE]    Script Date: 27/04/2022 21:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONE](
	[NUMERO] [int] NOT NULL,
	[COD_USUARIO] [uniqueidentifier] NOT NULL,
	[COD_AREA] [smallint] NOT NULL,
	[TIPO] [nchar](50) NOT NULL,
 CONSTRAINT [PK_TELEFONE] PRIMARY KEY CLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 27/04/2022 21:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[COD_USUARIO] [uniqueidentifier] NOT NULL,
	[COD_ENDERECO] [uniqueidentifier] NOT NULL,
	[TELEFONE] [int] NOT NULL,
	[REGIAO_ATUACAO] [nchar](50) NULL,
	[EMAIL] [nchar](50) NOT NULL,
	[SENHA] [nchar](20) NOT NULL,
	[NOME] [nchar](50) NOT NULL,
	[CPF] [nchar](1) NULL,
	[CNPJ] [nchar](18) NULL,
	[DATA_NASC] [nchar](10) NOT NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_AGENDAMENTO_ENDERECO] FOREIGN KEY([COD_ENDERCO])
REFERENCES [dbo].[ENDERECO] ([COD_ENDERECO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK_AGENDAMENTO_ENDERECO]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_AGENDAMENTO_SERVICO] FOREIGN KEY([COD_SERVICO])
REFERENCES [dbo].[SERVICO] ([COD_SERVICO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK_AGENDAMENTO_SERVICO]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_AGENDAMENTO_USUARIO] FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK_AGENDAMENTO_USUARIO]
GO
ALTER TABLE [dbo].[AVALIACAO]  WITH CHECK ADD  CONSTRAINT [FK_AVALIACAO_USUARIO] FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[AVALIACAO] CHECK CONSTRAINT [FK_AVALIACAO_USUARIO]
GO
ALTER TABLE [dbo].[PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PAGAMENTO_SERVICO] FOREIGN KEY([COD_SERVICO])
REFERENCES [dbo].[SERVICO] ([COD_SERVICO])
GO
ALTER TABLE [dbo].[PAGAMENTO] CHECK CONSTRAINT [FK_PAGAMENTO_SERVICO]
GO
ALTER TABLE [dbo].[SERVICO]  WITH CHECK ADD  CONSTRAINT [FK_SERVICO_USUARIO] FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[SERVICO] CHECK CONSTRAINT [FK_SERVICO_USUARIO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ENDERECO] FOREIGN KEY([COD_ENDERECO])
REFERENCES [dbo].[ENDERECO] ([COD_ENDERECO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ENDERECO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_TELEFONE] FOREIGN KEY([TELEFONE])
REFERENCES [dbo].[TELEFONE] ([NUMERO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_TELEFONE]
GO
