<div class="cadastro">
    <img src="/img/Logo.svg" alt="Logo ChamaNow" id="logo">
    <div class="textoCadastro">
        <h3 class="tituloCadastro">Ainda não possui uma conta?</h3>
        <h5 class="subtitulo">Crie sua conta agora mesmo</h5>
    </div>
    <a href="/admin/cadastro" id="linkCadastro"><button id="cadastrar">Cadastrar</button></a>
</div>

<div class="dadosPessoais">
    <img src="/img/Logo.svg" alt="Logo ChamaNow" id="logoMobile">
    <h2 class="tituloDados">Entre na sua conta</h2>
    <h5 class="subtituloDados">Preencha os campos corretamente</h5>
    <div class="dadosContent">
        <form id="formDados" class="form">
            <input type="email" name="email" id="email" class="form-control" placeholder="Email" minlength="8" maxlength="50" required>
            <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" minlength="8" maxlength="25" required>
        </form>
    </div>
    <div class="btns">
        <a href="" id="btn-entrar"><button id="entrar">Entrar <i class="fa-solid fa-chevron-right"></i></button></a>
    </div>

    <div class="cadastrarMobile">
        Ainda não possui uma conta? <a href="/admin/cadastro" id="linkCadastroMobile">Cadastrar</a>
    </div>
</div>