/* Global ====================================================================*/
:root {
  --bg: #333333;
  --bg-panel: #434343;
  --bg-header: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  --color-text: #b5b5b5;
  --color-text-secondary: #333333;
  
  --primary-color: #10059F;
  --secondary-color: #FF6B00;

  transition: all 0.3s linear;
}

/* Elementos =================================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75w;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
}

/* Container =================================================================*/
.container {
  width: min(100vw, 800px);
  margin: auto;
}

.card {
  background-color: var(--bg);
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
}

/* Cabeçalho =================================================================*/
body .site-header {
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: normal;

  background-color: var(--primary-color);
}

body header img {
  max-width: 12rem;
}

body header .menu {
  margin: 0.1rem;
  font-weight: bold;
}

body header .menu a {
  text-decoration: none;
  color: var(--color-text);
  padding: 0.5rem;
}
body header .menu a:hover {
  text-decoration: none;
  color: rgb(122, 121, 121);
}

/* Primeira Seção - Banner ================================================*/

main section {
  color: var(--primary-color);
  padding: 1rem;
}

body main section#banner {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* background-color: rgb(236, 236, 236);
  border-radius: 1rem; */

  padding: 1rem;
}

main section#banner #texto-banner {
  color: var(--primary-color);
}

section#banner #texto-banner h1 > strong {
  color: var(--secondary-color);
}

main section#banner img {
  max-width: 25rem;
}



/* Segunda Seção - Catálogo =================================================*/
main section #lista-servicos {
  width: min(100%, 800px);
}
main section select {
  border: 1px solid var(--bg-panel);
  border-radius: 0.4rem;
  color: var(--color-text);
  font-weight: bold;
  background: var(--bg-panel);

  padding: 1rem;
  margin-bottom: 0.5rem;

  cursor: pointer;
}

main section #catalogo {
  padding: 1rem 0;
}

/* Terceira Seção - Principais Serviços =====================================*/
main section #servicos {
  padding: 1rem 0;
}
section #principais-servicos .quadrado-wireframe {
  background-color: var(--color-text);
  width: 10rem;
  height: 10rem;

  border-radius: 1rem;
}

section #principais-servicos .container-servicos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Quarta Seção - Profissionais Bem Avaliados ===============================*/
main section #bem-avaliados {
  padding: 1rem 0;
}
section #bem-avaliados .quadrado-wireframe {
  background-color: var(--color-text);
  width: 100%;
  height: 10rem;

  border-radius: 1rem;
}

section #bem-avaliados .container-bem-avaliados {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Quinta Seção - Quem Somos ================================================*/
main section #quem-somos {
  padding: 1rem 0;
}
section #quem-somos .quadrado-wireframe {
  background-color: var(--color-text);
  width: 100%;
  height: 10rem;

  border-radius: 1rem;
}

/* Footer ===================================================================*/
footer .footer-container {
  background: none;
  color: var(--color-text);
  border-radius: 0.8rem 0.8rem 0 0;

  display: flex;
  flex-direction: column;

  padding: 1rem;
}

footer .footer-container p {
  text-align: center;
}