/* ========== Formatações Gerais ==========*/

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    overflow: none;
    padding: 0;
}

.hidden {
    display: none;
}


/* Escolher Tipo de Usuário */

.escolherUsuario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.escolherUsuario button {
    margin: 0 25px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-input);
    transition: all .2s linear;
}

.escolherUsuario button:hover {
    border-bottom: 2px solid var(--primary-color);
    cursor: pointer;
    transform: translateY(-7px);
}


/* Login do Usuário */

.login {
    background-color: var(--primary-color);
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-text);
    padding: 0 50px;
    position: fixed;
}

#logo {
    width: 100px;
}

#logoMobile {
    display: none;
}

.textoLogin {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.tituloLogin {
    margin-top: 30px;
    font-weight: 700;
}

.subtitulo {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300;
}

#entrarLogin {
    margin-top: 30px;
    background: none;
    padding: 5px 15px;
    width: 120px;
    border: 2px solid var(--color-text);
    border-radius: 50px;
    color: var(--color-text);
    transition: all 0.2s;
}

#entrarLogin:hover {
    background: var(--color-text);
    color: var(--secondary-color);
    font-weight: 500;
}


/* Cadastro do Endereço */

.divCEP {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.divCEP input {
    margin-right: 15px;
}

.divEstado {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: -5px;
}

.labelSelecaoEstado {
    color: var(--color-text-secondary);
}


/* Formulário */

input[type=number] {
    max-width: 40%;
}

.dadosContent {
    width: 75%;
}

.dadosPessoais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    padding: 30px 60px;
    position: absolute;
    right: 0;
    min-height: 100vh;
}

.tituloDados {
    font-weight: 700;
    font-size: 25px;
    color: var(--primary-color);
}

.subtituloDados {
    font-weight: 300;
    font-size: 16px;
    color: rgb(160, 160, 160);
    margin-top: 20px;
}

#formUser {
    width: 85%;
    margin: 50px auto 0;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#formUser input {
    margin-top: 25px;
    border: none;
    border-radius: 30px;
    padding: 7px 30px;
    background-color: var(--color-input);
}

#formUser input:focus {
    border: none;
    box-shadow: none;
}

#formUser label {
    margin: 0 0 5px;
    color: var(--color-text-secondary);
}

#formUser select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 30px;
    padding: 7px 30px;
    background-color: var(--color-input);
}

#selectServico {
    margin-bottom: 25px;
}

#formUser select:hover {
    border: none;
    border-style: none;
}

#formUser select:focus {
    border: none;
    box-shadow: none;
}

.loginMobile {
    display: none;
}

#confirmar {
    border: none;
    border-radius: 30px;
    margin: 30px 0 0 auto;
    padding: 5px 25px;
    background-color: var(--secondary-color);
    color: var(--color-text);
    transition: all 0.2s;
}

#confirmar:hover {
    background-color: var(--color-text);
    color: var(--secondary-color);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

@media screen and (max-width: 900px) {
    input[type=number] {
        max-width: 60%;
    }
    .escolherUsuario {
        flex-direction: column;
    }
    .escolherUsuario button {
        width: 200px;
        margin-top: 30px;
    }
    .backgroundMobile {
        background-color: var(--primary-color);
        color: var(--color-text);
    }
    .login {
        display: none;
    }
    .dadosContent {
        margin-top: 20px;
        width: 80%;
    }
    .dadosPessoais {
        width: 100%;
    }
    #logoMobile {
        display: block;
        width: 80px;
    }
    .tituloDados {
        margin-top: 30px;
        color: var(--color-text);
    }
    .subtituloDados {
        color: var(--color-text);
    }
    #formUser {
        width: 100%;
    }
    .divCEP {
        flex-direction: column;
        margin-top: 0;
        align-items: flex-start;
    }
    .divEstado {
        margin-top: 15px;
    }
    #formUser label {
        color: var(--color-text);
    }
    .labelSelecaoEstado {
        margin-left: 15px !important;
    }
    .loginMobile {
        display: block;
        margin-top: 30px;
    }
    #linkLoginMobile {
        text-decoration: none;
        color: var(--secondary-color);
    }
}