/* ========== Formatações Gerais ==========*/

:root {
    --bg: #999999;
    --bg-rating: #fafafa;
    --bg-header: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    --color-text: #fff;
    --color-text-secondary: #333333;
    --primary-color: #4939FF;
    --secondary-color: #ff6b00;
    transition: all 0.3s linear;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    overflow: none;
    padding: 0;
}

.hidden {
    display: none;
}


/* Escolher Tipo de Usuário */

.escolherUsuario {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.escolherUsuario button {
    margin: 100px 25px 0;
    padding: 20px 30px;
    border-color: var(--bg);
    border-radius: 5px;
    background-color: var(--bg-rating);
    transition: all .3s linear;
}

.escolherUsuario button:hover {
    transform: translateY(-7px);
}


/* Login do Usuário */

.login {
    background-color: var(--primary-color);
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-text);
    padding: 0 50px;
    position: fixed;
}

#logo {
    width: 100px;
}

#logoMobile {
    display: none;
}

.textoLogin {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.tituloLogin {
    margin-top: 30px;
    font-weight: 700;
}

.subtitulo {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300;
}

#entrarLogin {
    margin-top: 30px;
    background: none;
    padding: 5px 15px;
    width: 120px;
    border: 2px solid #FFF;
    border-radius: 50px;
    color: white;
    transition: all 0.2s;
}

#entrarLogin:hover {
    background: #FFF;
    color: #4939FF;
    font-weight: 500;
}


/* Cadastro do Endereço */

.divCEP {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

.divCEP input {
    margin-right: 15px;
}

.divEstado {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: -5px;
}

.labelSelecaoEstado {
    color: var(--color-text-secondary);
}


/* Formulário */

input[type=number] {
    max-width: 40%;
}

.dadosContent {
    width: 75%;
}

.dadosPessoais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    padding: 30px 60px;
    position: absolute;
    right: 0;
    min-height: 100vh;
}

.tituloDados {
    font-weight: 700;
    font-size: 25px;
    color: #4939FF;
}

.subtituloDados {
    font-weight: 300;
    font-size: 16px;
    color: rgb(160, 160, 160);
    margin-top: 20px;
}

#formDados {
    width: 85%;
    margin: 50px auto 0;
    color: #fff;
}


/* Animações do form */

@keyframes surgir {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes desaparecer {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100px);
    }
}

#formDados input {
    margin-top: 25px;
    border: none;
    border-radius: 30px;
    padding: 7px 30px;
    background-color: #EDEDED;
}

#formDados input:focus {
    border: none;
    box-shadow: none;
}

#formDados label {
    margin: 0 0 5px;
    color: var(--color-text-secondary);
}

#formDados select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 30px;
    padding: 7px 30px;
    background-color: #EDEDED;
}

#selectServico {
    margin-bottom: 25px;
}

#formDados select:hover {
    border: none;
    border-style: none;
}

#formDados select:focus {
    border: none;
    box-shadow: none;
}

.btns {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 65%;
}

#voltar {
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: #2B2B2B;
    color: #FFF;
    letter-spacing: 1.2px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

#voltar:hover {
    background-color: #FFF;
    color: #2B2B2B;
}

#proximo {
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: #FF7033;
    color: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

#proximo:hover {
    background-color: #FFF;
    color: #FF7033;
}

.loginMobile {
    display: none;
}

@media screen and (max-width: 900px) {
    input[type=number] {
        max-width: 60%;
    }
    .escolherUsuario {
        flex-direction: column;
    }
    .escolherUsuario button {
        width: 200px;
        margin-top: 30px;
    }
    .backgroundMobile {
        background-color: #4939FF;
        color: #FFF;
    }
    .login {
        display: none;
    }
    .dadosContent {
        margin-top: 20px;
        width: 80%;
    }
    .dadosPessoais {
        width: 100%;
    }
    #logoMobile {
        display: block;
        width: 80px;
    }
    .tituloDados {
        margin-top: 30px;
        color: #FFF;
    }
    .subtituloDados {
        color: #FFF;
    }
    #formDados {
        width: 100%;
    }
    .divCEP {
        flex-direction: column;
        margin-top: 0;
        align-items: flex-start;
    }
    .divEstado {
        margin-top: 15px;
    }
    #formDados label {
        color: var(--color-text);
    }
    .labelSelecaoEstado {
        margin-left: 15px !important;
    }
    .loginMobile {
        display: block;
        margin-top: 30px;
    }
    #linkLoginMobile {
        text-decoration: none;
        color: #FF7033;
    }
}