* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2[class^="titulo"] {
    font-size: 25px;
    font-weight: 600;
    color: var(--primary-color);
    margin: 50px 0 20px;
}

body>div {
    max-width: 60%;
    margin: 70px auto 0;
}


/* Foto de Perfil */

#foto-perfil {
    width: 300px;
    border-radius: 100%;
    margin-right: 50px;
}


/* Descrição */

#info-prestador {
    display: flex;
    justify-content: left;
    align-items: center;
}

#nome-usuario {
    color: var(--secondary-color);
    font-weight: 600;
}

#descricao {
    margin: 15px 0 0;
}

#regiao-atuacao {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.titulo-regiao-atuacao {
    font-size: 16px;
    margin: 0;
}

#location {
    margin: 0 0 0 10px;
    text-align: center;
}


/* ========== Detalhar Problema ========== */

#formDetalheProblema {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#formDetalheProblema input,
#inputProblema {
    font-size: 14px;
    border: none;
    background-color: var(--color-input);
    padding: 7px 15px;
    border-radius: 10px 10px;
    margin: 30px 0 0;
}

#formDetalheProblema input {
    width: 270px;
}

#inputProblema::placeholder {
    font-size: 16px;
}

#inputProblema:focus {
    box-shadow: none;
}


/* ========== Btn Contratar ========== */

#contratar-servico {
    display: flex;
    justify-content: flex-end;
    border: none;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: var(--secondary-color);
    color: var(--color-text);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: 50px 0 0 auto;
    transition: all 0.2s;
}

#contratar-servico:hover {
    background-color: var(--color-text);
    color: var(--secondary-color);
}

@media (max-width: 1000px) {
    #info-prestador {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #foto-perfil {
        margin: 0 0 25px;
    }
    #regiao-atuacao {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}