* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}


/* ========== Banner ========== */

.tudo {
    margin: 0 auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto 0;
    width: 70%;
}

#embaixador {
    width: 600px;
}

.titulo {
    text-align: left;
    font-size: 25px;
}

.searchResults {
    background-color: var(--color-table);
    padding: 50px 10% 100px;
}

.search {
    display: flex;
    flex-direction: column;
}

#pesquisar {
    margin-top: 15px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: var(--color-input);
    width: 300px;
}

#pesquisar:focus {
    border: none;
    outline: none;
}


/* ========== SearchResults ========== */

.servico {
    padding: 10px 20px;
    background-color: var(--color-input);
    border-radius: 10px;
    border: none;
    transition: var(--transition);
    max-width: 70%;
    margin: 30px auto 0;
}

.result-title {
    margin: 15px 0 0;
}

.corLaranja {
    color: var(--secondary-color);
}

.servico:hover {
    border-bottom: 2px solid var(--primary-color);
    cursor: pointer;
    transform: translateY(-7px);
}

.servico:hover .result-title {
    color: var(--primary-color);
}


/* ========== Nova página criada ========== */

.servicoNP {
    margin: 40px auto;
    width: 60%;
}

.tit_servicoNP {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
}

.tit_servicoNP h1 {
    margin: 0;
}

.btn-voltar {
    background-color: var(--primary-color);
    margin: 0;
    padding: 7px 15px;
    border: none;
    font-size: 15px;
    color: var(--color-text);
    border-radius: 50px;
    width: 80px;
    height: 35px;
    transition: all .3s;
}

.btn-voltar:hover {
    background-color: var(--color-text);
    color: var(--primary-color);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

.descricao-servico {
    font-size: 17px;
}


/* ========== Cards ========== */

.prestadores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto 100px;
}

.card {
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    transition: all 0.3s ease-out;
    margin: 20px auto;
    background-color: var(--color-table);
    width: 400px;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#card_img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-infos {
    padding: 15px 30px;
}

.card-name {
    margin: 0 0 10px;
    color: var(--primary-color);
    font-size: 25px;
}

.sem-avaliacao {
    font-style: italic;
    font-size: 14px;
}

#card-p {
    font-size: 14px;
    margin-top: 10px;
    color: var(--color-text-secondary)
}

#card-button {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 7px 15px;
    border: none;
    font-size: 15px;
    color: var(--color-text);
    border-radius: 50px;
    height: 35px;
    transition: all .3s;
    margin: 0 auto 20px 25px;
}

#card-button:hover {
    background-color: var(--color-text);
    color: var(--secondary-color);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}


/* ========== Footer ========== */

.footer {
    margin: 0 !important;
}


/* ========== Mobile ========== */

@media (max-width: 1000px) {
    #embaixador {
        display: none;
    }
    .search {
        margin: 50px auto 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo {
        font-size: 20px;
        text-align: center;
    }
}