* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}


/*--------Body--------*/

.banner {
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.banner img {
    width: 400px;
    margin: 0 auto;
}

.titulo {
    text-align: left;
}

.search {
    display: inline;
    margin-left: 200px;
}

.pesquisar {
    margin-top: 25px;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #EDEDED;
    padding-right: 400px;
    margin-bottom: 40px;
}

.pesquisar:focus {
    margin-top: 25px;
    border: none;
    border-radius: 30px;
    background-color: #EDEDED;
    padding-right: 400px;
    border-left-style: groove;
    border-bottom-style: groove;
    border-color: #4939FF;
    cursor: default;
    border-width: 5px;
}

.verServicos {
    justify-content: center;
    border-radius: 20px;
    border: none;
    padding: 10px 20px 9px;
    background-color: #4939FF;
    color: #fff;
    margin-left: 10px;
}

.servicos {
    padding: 30px;
}

.servico {
    padding: 20px;
    background-color: #EEEEEE;
    border-radius: 20px;
    margin: 30px;
}

.corLaranja {
    color: #FF7500;
}

.servico:hover {
    padding: 20px;
    background-color: #EEEEEE;
    border-radius: 20px;
    border-bottom-style: groove;
    border-color: #4939FF;
    cursor: default;
    border-width: 5px;
    transition: 0.3s;
}

.servico:hover h3 {
    color: #4939FF;
}

.servico h1 {
    color: #4939FF;
    text-align: left;
    margin-bottom: 10px;
}


/*----------Nova página criada---------*/

.servicoNP {
    align-items: center;
    margin: 0 auto;
}

.tit_servicoNP {
    display: flex;
    color: #FF7500;
    padding: 10px;
    margin-top: 40px;
    justify-content: space-between;
}

.voltar {
    margin-top: 40px;
    border-radius: 20px;
    border: none;
    padding: 10px 20px 9px;
    background-color: #4939FF;
    color: #fff;
    margin: 0 auto;
    margin-left: 750px;
}

.servicoNP p {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}


/*--------Cards-------*/

.profissionais {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out;
    flex: 1 1 300px;
    margin: 10px;
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card_text {
    padding: 10px;
    background-color: #EEEEEE;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card_tit {
    color: #4939FF;
}

.card_p {
    font-size: 10px;
    margin-top: 10px;
    color: black;
}

#card_button {
    background-color: #EEEEEE;
    border-width: 1px;
    border-color: #FF7500;
    color: #FF7500;
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 500px;
}

#card_button:hover {
    background-color: #FF7500;
    border-width: 1px;
    border-color: #FF7500;
    color: #fff;
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 500px;
}