/* ========== Formatações Gerais ==========*/

:root {
    --bg: #999999;
    --bg-rating: #fafafa;
    --bg-header: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    --color-text: #fff;
    --color-text-secondary: #333333;
    --primary-color: #4939FF;
    --secondary-color: #ff6b00;
    --star-color: #ffe500;
    --color-input: #ededed;
    --invalid-input: #fa2929;
    transition: all 0.3s linear;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    overflow: none;
    padding: 0;
    height: 100vh;
}

.hidden {
    display: none;
}


/* Cadastro do Usuário */

.cadastro {
    background-color: #4939FF;
    max-width: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 0 5%;
}

#logo {
    width: 100px;
}

#logoMobile {
    display: none;
}

.textoCadastro {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.tituloCadastro {
    margin-top: 30px;
    font-weight: 700;
}

.subtitulo {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300;
}

#cadastrar {
    margin-top: 30px;
    background: none;
    padding: 5px 15px;
    width: 120px;
    border: 2px solid #FFF;
    border-radius: 50px;
    color: white;
    transition: all 0.2s;
}

#cadastrar:hover {
    background: #FFF;
    color: #4939FF;
    font-weight: 500;
}


/* Formulário */

.dadosPessoais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 100vh;
}

.tituloDados {
    font-weight: 700;
    font-size: 25px;
    color: #4939FF;
}

.subtituloDados {
    font-weight: 300;
    font-size: 16px;
    color: rgb(160, 160, 160);
    margin-top: 20px;
}

.dadosContent {
    margin-top: 40px;
}

#formDados {
    width: 500px;
    margin: 50px auto 0;
    color: #fff;
}

#formDados input {
    margin-top: 25px;
    border: none;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: #EDEDED;
}

#formDados input:focus {
    border: none;
    box-shadow: none;
    background-color: #EDEDED;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 65%;
}

#entrar {
    border: none;
    border-radius: 30px;
    padding: 5px 25px;
    background-color: #FF7033;
    color: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

#entrar:hover {
    background-color: #FFF;
    color: #FF7033;
}

.cadastrarMobile {
    display: none;
}

@media screen and (max-width: 900px) {
    .backgroundMobile {
        background-color: #4939FF;
        color: #FFF;
    }
    .cadastro {
        display: none;
    }
    .dadosContent {
        margin-top: 20px;
        width: 80%;
    }
    .dadosPessoais {
        width: 100%;
    }
    #logoMobile {
        display: block;
        width: 80px;
    }
    .tituloDados {
        margin-top: 30px;
        color: #FFF;
    }
    .subtituloDados {
        color: #FFF;
    }
    #formDados {
        width: 100%;
    }
    .cadastroMobile {
        display: block;
        margin-top: 30px;
    }
    #linkcadastroMobile {
        text-decoration: none;
        color: #FF7033;
    }
}