<div class="divAvaliacoes">
    <div class="nome-data">
        <h5 id="nome-avaliador">{{nome}}</h5>
        <span class="hifen">-</span>
        <span id="data-publicacao">{{data-publicacao}}</span>
    </div>

    <div class="avaliacao-usuario">
        <span id="nota">{{nota}}</span>
        <span class="ponto"></span>
        <ul class="avaliacao">
            <li class="star-icon" data-avaliacao="1"></li>
            <li class="star-icon" data-avaliacao="2"></li>
            <li class="star-icon" data-avaliacao="3"></li>
            <li class="star-icon" data-avaliacao="4"></li>
            <li class="star-icon" data-avaliacao="5"></li>
        </ul>
    </div>
    <p id="comentario">{{comentario}}</p>
</div>
