<footer class="footer">
    <div class="beforeLine">
        <div class="logoSlogan">
            <img src="../assets/img/Logo.svg" alt="Logo ChamaNow">
            <span>Chama lá no ChamaNow <i class="fa-solid fa-fire-flame-curved"></i></span>
        </div>
        <div class="contentFooter">
            <ul class="placeholder1">
                <li>SERVICES</li>
                <li>SETTINGS</li>
                <li>NEWSLETTER</li>
            </ul>
            <ul class="placeholder2">
                <li>FAQs</li>
                <li>SUPPORT</li>
            </ul>
            <ul class="placeholder3">
                <li>TERMS AND CONDITIONS</li>
                <li>PRIVACY POLICY</li>
                <li>COOKIE POLICY</li>
            </ul>
            <ul class="placeholder4">
                <li>ABOUT US</li>
                <li>CONTACT US</li>
                <li>COMUNITY</li>
                <li>RESOURCES</li>
            </ul>
        </div>
    </div>
    <div class="line"></div>
    <div class="afterLine">
        <div class="socialMedia">
            <a href="" id="facebook"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="" id="twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="" id="linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="" id="youtube"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="copyright">
            <span>&copy<span id="ano"></span> ChamaNow. TIAP - PUC Minas. All rights reserved</span>
        </div>
    </div>
</footer>