<header class="site-header">
        <img src="/img/logo-horizontal-transparente.png" alt="Logo ChamaNow">
        <nav class="menu">
            <a href="#sou-um-profissa">Sou um Profissa</a>
            <a href="/admin/cadastro">Sign Up</a>
            <a href="/admin/login">Login</a>
        </nav>
</header>