* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
}

html,
body {
  height: 100vh;
}

/* Login do Usuário */
.login {
  background-color: #4939ff;
  max-width: 25%;
  height: 100vh !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 0 5%;
}

#logo {
  width: 100px;
}

#logoMobile {
  display: none;
}

.textoLogin {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textoLogin > img {
  border-radius: 50rem;
}

.textoLogin > ul {
  text-align: end;
  list-style-type: none;
}

.tituloLogin {
  margin-top: 30px;
  font-weight: 700;
  font-size: 1.5rem;

  text-align: center;

  color: #ff7033;
}

.subtitulo {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: #ff7033;
  text-align: center;
}

#entrarLogin {
  margin-top: 30px;
  background: none;
  padding: 5px 15px;
  width: 120px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: white;
  transition: all 0.2s;
}

#entrarLogin:hover {
  background: #fff;
  color: #4939ff;
  font-weight: 500;
}

/* Formulário */

.dadosPessoais {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  height: 100vh;
}

.tituloDados {
  font-weight: 700;
  font-size: 25px;
  color: #4939ff;
  text-align: left;
}

.subtituloDados {
  font-weight: 300;
  font-size: 16px;
  color: rgb(160, 160, 160);
  margin-top: 20px;
}

.dadosContent {
  margin-top: 60px;
}

#formDados {
  width: 600px;
  color: #fff;
}

#formDados input {
  margin-top: 25px;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: #ededed;
}

#lista-servicos{
  margin-top: 25px;
  border: none;
  background-color: #ededed;

  border-radius: 30px;
  padding: 1rem;
  margin-bottom: 0.5rem;

  cursor: pointer;
}

#formDados input:focus {
  border: none;
}

.endereco-container {
  display: flex;
}

.btns {
  margin-top: 50px;
}

#proximo {
  border: none;
  border-radius: 30px;
  padding: 5px 15px;
  background-color: #ff7033;
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

#proximo:hover {
  background-color: #fff;
  color: #ff7033;
}

.loginMobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .backgroundMobile {
    background-color: #4939ff;
    color: #fff;
  }
  .login {
    display: none;
  }
  .dadosContent {
    margin-top: 20px;
    width: 80%;
  }
  .dadosPessoais {
    width: 100%;
  }
  #logoMobile {
    display: block;
    width: 80px;
  }
  .tituloDados {
    margin-top: 30px;
    color: #fff;
  }
  .subtituloDados {
    color: #fff;
  }
  #formDados {
    width: 100%;
  }
  .loginMobile {
    display: block;
    margin-top: 30px;
  }
  #linkLoginMobile {
    text-decoration: none;
    color: #ff7033;
  }
}
